<html>
    <head>
        <title>eleventy + netlify CMS blog</title>
    </head>

    <body>
        <h1>
        base.njk - welcome to my blog generated using @11ty/eleventy
        </h1>

        {{ content | safe }}

    </body>

</html>
