---
layout: layouts/base.njk
---
<h2>post.njk title variable - {{ title }}</h2>
<img src="{{ featuredImagePath}}" alt="{{ featuredImage }}" />
<img src="{{ featuredImageUrl}}" alt="{{ featuredImage }}" />
<p>{{ content | safe}}</p>